name="milan"
age=22
print(name)
print (age)

In [1]:
name="lucy"
age=21
print(name)
print(age)

lucy
21

In [2]:
name="lucy"
age=22
is_adult=False
print(name)
print(age)

lucy
22

In [3]:
name="Tony Stark"
age=51
print("Tony is a genius")

Tony is a genius

In [11]:
firstname="Tony"
lastname="Stark"
age=51
is_genius=True
print(firstname +" "+lastname)
print(age)
print(is_genius)

Tony Stark
51
True

In [12]:
name = input("What is Your Name?")
print(name)

What is Your Name?lucy
lucy

In [13]:
name=input("what is your name?")
print("HEllo"+ name)

what is your name?lucy
HEllolucy

In [14]:
name=input("What is your super hero name tony?")
print(name)

What is your super hero name tony?spiderman
spiderman

In [17]:
old_age=input("Enter Your Old Age:-")

new_age=int(old_age)+2
print(new_age)

Enter Your Old Age:-19
21

In [18]:
number=18
print(float(18))

18.0

In [22]:
first=input("Enter 1st no:-")
second=input("Enter 2nd no:-")
sum=first+second
print(sum)#due to without type conversion

Enter 1st no:-2
Enter 2nd no:-3
23

In [24]:
first=input("Enter 1st no:-")
second=input("Enter 2nd no:-")
sum=int(first)+int(second)
print(sum)

Enter 1st no:-2
Enter 2nd no:-3
5

In [26]:
#strings upper n lower
name="Lucy"
print(name.upper())
print(name)

LUCY
Lucy

In [27]:
#find
name = "Milan Mohapatra"
print(name.find('M'))

0

In [30]:
#replace
name = "Milan Mohapatra"
print(name.replace("Milan Mohapatra","Lucy"))
print(name)
print(name.replace("Mohapatra","Lucy"))
print(name.replace("M","L"))

Lucy
Milan Mohapatra
Milan Lucy
Lilan Lohapatra

In [32]:
#check substring or character exist or not
name = "Milan Mohapatra"
print("t" in name)
print("s" in name)
print("Milan" in name)
print("Lucy" in name)

True
False
True
False

In [35]:
#arithmetic operator
print(5+2)
print(5-2)
print(5*2)
print(5/2)
print(5%2)
print(5//2)#it removes floating no
print(5**2)

7
3
10
2.5
1
2
25

In [43]:
#minimize operation
a= 5
a= int(a)+2
int(i)+=print(i)

int(i)=int(i)-2
print(i)
int(i)-=2
print(i)
int(i)*=2
print(i)
int(i)/=2
print(i)

SyntaxError: 'function call' is an illegal expression for augmented assignment (Temp/ipykernel_5436/1084225863.py, line 4)

In [44]:
#precidence
result = 2+ 3* 5
print(result)
result = (2+ 3)* 5
print(result)
result = 2+ 3/ 5
print(result)

17
25
2.6

In [46]:
#comparision operator
print(3>2)
print(3<2)
print(3>=2)
print(3<=2)
print(3==2)
print(3==3)
print(3!=3)
print(3!=2)

True
False
True
False
False
True
False
True

In [48]:
#logical operator
print(2 > 3 or 2 > 1)
print(3 > 2 and 2>1 )
print(3>2 and 2>6)
print(not 2 > 3)
print(not 3 > 2)

True
True
False
True
False

In [1]:
#ifelse
age=19
if age>=18:
    print("You are an adult")
    print("You can vote")
    
print("Thank you")

You are an adult
You can vote
Thank you

In [2]:
#ifelse
age=16
if age>=18:
    print("You are an adult")
    print("You can vote")
    
print("Thank you")

Thank you

In [2]:
#ifelse
age=2
if age>=18:
    print("You are an adult")
    print("You can vote")
elif age < 18 and age >3:
    print("You are in school")
else:
    print("you are a child")
    
    
    
print("Thank you")

you are a child
Thank you

In [6]:
#calculater bulid
first =input("Enter 1st no:-")
operator=input("Enter operator(+,-,*,/,%):")
second=input("Enter 2nd no:-")
first=int(first)
second=int(second)
if operator=="+":
    print(first+second)
elif operator=="-":
    print(first-second)
elif operator=="*":
    print(first*second)
elif operator=="/":
    print(first/second)
elif operator=="%":
    print(first%second)
else:
    print("Invalid operation")

Enter 1st no:-5
Enter operator(+,-,*,/,%):/
Enter 2nd no:-2
2.5

In [7]:
#range
range(5)

range(0, 5)

In [8]:
# while loop
i=1
while i<=5:
    print(i *"*")
    i=i+1

*
**
***
****
*****

In [9]:
i=5
while i>=1:
    print(i *"*")
    i=i-1

*****
****
***
**
*

In [12]:
#forloop
for i in range(5):
    print(i)

0
1
2
3
4

In [15]:
#list
marks=[95,65,75]
print(marks)

[95, 65, 75]

In [16]:
marks=[95,65,75]
print(marks[-2])

65

In [19]:
marks=[95,65,75]
print(marks[0:2])
print(marks[1:3])
for score in marks:
    print(score)

[95, 65]
[65, 75]
95
65
75

In [24]:
#append operation
marks=[95,65,75]
marks.append(99)
print(marks)
marks.insert(0,98)
print(marks)
print(98 in marks)
print(62 in marks)
print(len(marks))

[95, 65, 75, 99]
[98, 95, 65, 75, 99]
True
False

In [3]:
marks=[95,98,97]
i=0
while i<len(marks):
    print(marks[i])
    i=i+1
    marks.clear()
    print(marks)

95
[]

In [10]:
#break & continue
students=["ram","shayam","radha","krishna","lucy"]
for student in students:
    if student=="radha":
        break;
        print(student)
        
for student in students:
    if student=="radha":
        continue;
        print(student)

In [12]:
#tuple
marks=(95,96,98,98,98)
print(marks.count(98))
print(marks.index(98))

3
2

In [17]:
#set
marks={95,96,98,98,98}
person='ram','shayam','rabi'
print(person)
print(marks)
for score in marks:
    print(score)

('ram', 'shayam', 'rabi')
{96, 98, 95}
96
98
95

In [21]:
#dictonary
marks={"english":95,"chemestry":98}

print(marks["chemestry"])
marks["physics"]=94;
print(marks)
marks["physics"]=98;
print(marks)

98
{'english': 95, 'chemestry': 98, 'physics': 94}
{'english': 95, 'chemestry': 98, 'physics': 98}

In [23]:
#function
#import function
import math
print(dir(math))
from math import sqrt
print(sqrt(4))
from math import *
print(sqrt(16))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']
2.0

In [24]:
#userdefine function
#def function_name(parameter):   syntax
def print_sum(first,second):
    print(first+second)
    
print_sum(1,2)

3

In [25]:
def print_sum(first,second=4):
    print(first+second)
    
print_sum(1)

5